apiVersion: v1
kind: ConfigMap
metadata:
  name: fproject-backend-config
  namespace: default
data:
  # Database Configuration
  DB_HOST: "fproject-dev-postgres.c9eksq6cmh3c.us-east-1.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "fproject_db"
  DB_USER: "fproject_user"
  DB_MAX_CONNECTIONS: "20"
  DB_IDLE_TIMEOUT: "30000"
  DB_CONNECTION_TIMEOUT: "5000"
  
  # AWS Configuration
  AWS_REGION: "us-east-1"
  AWS_USER_POOL_ID: "us-east-1_oesTGe9D5"
  AWS_CLIENT_ID: "6ugujl077j6fmcqgptjmn91b7e"
  
  # API Configuration
  API_PORT: "3001"
  FRONTEND_URL: "https://www.aws11.shop"
  NODE_ENV: "production"
