apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: fproject-backend-secrets
  namespace: default
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "journal-api/database"
        objectType: "secretsmanager"
        jmesPath:
          - path: password
            objectAlias: DB_PASSWORD
      - objectName: "journal-api/aws-credentials"
        objectType: "secretsmanager"
        jmesPath:
          - path: access_key_id
            objectAlias: AWS_ACCESS_KEY_ID
          - path: secret_access_key
            objectAlias: AWS_SECRET_ACCESS_KEY
  secretObjects:
  - secretName: fproject-backend-secret
    type: Opaque
    data:
    - objectName: DB_PASSWORD
      key: DB_PASSWORD
    - objectName: AWS_ACCESS_KEY_ID
      key: AWS_ACCESS_KEY_ID
    - objectName: AWS_SECRET_ACCESS_KEY
      key: AWS_SECRET_ACCESS_KEY
