apiVersion: v1
kind: ServiceAccount
metadata:
  name: fproject-backend-sa
  namespace: default
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::324547056370:role/fproject-backend-secrets-role
